
h1 {color:Blue;text-shadow:currentcolor;text-align: center;}
h2 {color:green;}
#violet {color:purple; text-align: justify;}
title {color:red;text-decoration: blink;text-shadow: currentColor;}
table {animation-direction: alternate-reverse;}
body {background: url(https://www.google.com/search?q=pantai+Hd&safe=strict&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi2xdL128TgAhWQfisKHW-VBdUQ_AUIDigB&biw=1354&bih=647#imgrc=PoLPXOLZeHpqfM:)}
.darkblue {color:darkblue}